.jw-flag-audio-player {
  background-color: var(--white) !important;
  box-shadow: 0px 0px 1px black;
}
.jw-wrapper {
  background-color: #0000 !important;
}
.jw-preview {
  background: #ffffff00 no-repeat 50% 50% !important;
}
.jw-controls-backdrop {
  background: unset !important;
}
.jw-state-idle .jw-controls {
  background: rgba(0, 0, 0, 0.01) !important;
}
.jw-breakpoint-7
  .jw-controlbar
  .jw-button-container
  .jw-icon-inline:not(.jw-text-live)
  .jw-svg-icon,
.jw-breakpoint-7
  .jw-controlbar
  .jw-button-container
  .jw-icon-volume
  .jw-svg-icon {
  width: 20px !important;
  height: 20px !important;
}
.jw-icon-rewind {
  display: none !important;
}
.jw-icon-inline,
.jw-icon-tooltip {
  width: 50px !important;
  height: 50px !important;
}
.jw-title-song{
  color:white;
  font-size:12px;
  width: 300px;
}
.jw-title-song .image{
  display: flex;
  float:left;
}
.jw-title-song .info{
  float:left;
}
.jw-title-song .info .singer{
  margin: 0;
  font-family: Helvetica , sans-serif;
  font-size: 12px;
  color: #5e5e5e;
  margin-top: 3px;
}
.jw-title-song .info .name{
  margin : 0;
  font-family: Helvetica , sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #222222;
  width: 250px;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 2px;
}

.jw-text-elapsed {
  justify-content: center !important;
  padding-left: 10px !important;
  font-weight: bold !important;
}

.jw-slider-time{
  order : 1;
}
.jw-text-elapsed{
  order : 2;
}
.jw-text-countdown{
  order : 3;
}
.jw-text-duration{
  font-weight: bold !important;
  order : 4;
}
.jw-icon-volume{
  order : 5;
}
.jw-title-song{
  order : 6;
}
.jw-icon-playlist{
  order : 7
}
.jw-icon-next , .jw-icon-playback , .jw-icon-prev , .jw-icon-volume , .jw-title-song , .jw-text-elapsed , .jw-text-countdown , .jw-text-duration{
  color: #222222 !important;
}


.jw-icon-next {
  display: flex !important;
}
.jw-controls{
  overflow: unset !important;
}
.div_range_volume{
  position: absolute;
  top: 0;
  transform: rotate(-90deg);
  margin-top: -84px;
  background-color: #f2f2f2;
  /* margin: auto; */
  align-items: center;
  /* display: flex; */
  height: 20px;
  padding: 18px 20px;
  border-color: #ccc;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  border: 1px solid #9a8c8c40;
  border-bottom-left-radius: 1px;
  border-top-left-radius: 1px;
  display: none;
  -webkit-animation-name: moveit;
  /* Standard syntax */  -webkit-animation-duration: 0.2s;
  transition: 0.5 all;

  animation-name: moveit;
  animation-duration: 0.2s;

}
/* Chrome, Safari, Opera */
@-webkit-keyframes moveit {
    0% {margin-top: -150px;}
    100% {margin-top: -85px;}
}
 
/* Standard syntax */
@keyframes moveit {
    0% {margin-top: -150px;}
    100% {margin-top: -85px;}
}
.jw-icon-volume:hover .div_range_volume{
  display: flex;
}
input[type=range] {
  margin: auto;
  outline: none;
  padding: 0;
  width: 100px;
  height: 2px;
  background-color: #dedede;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #42b380 ), color-stop(100%, #42b380 ));
  background-size: 0% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}


input[type=range]::-webkit-slider-thumb {
height: 12px;
width: 12px;
  border: 0;
  background: #42b380 ;
  border: 1px solid #42b380 ;
  border-radius: 8px;
  -webkit-appearance: none;

}
input[type=range]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);

}


/*-------------------------------------- test------------------------------------- */
#post-list {
  width: 1000px;
  display: flex;
  flex-direction: column;
}
#post-list p {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  margin-top: 20px;
}
.slider {
  -webkit-appearance: none;
  height: 3px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}
.jw-breakpoint-7 .jw-controlbar .jw-button-container .jw-text{
  font-size: 12px !important;
}
.jw-controlbar{
  width: 1000px;
  margin: auto;
}
.jw-breakpoint-7 .jw-controlbar .jw-slider-time .jw-slider-container{
  height: 4px !important;
  background-color: #dfdfdf !important;
}
.jw-knob , .jw-progress{
  background-color: #42b380 !important;
}
.jw-breakpoint-7 .jw-controlbar .jw-slider-time{
  padding: 0 !important;
}
.jw-slider-time .jw-buffer{
  background-color: #dfdfdf !important;
}
.jw-controlbar .jw-button-image{
  max-height: 20px !important;
}
.jwplayer:not(.jw-breakpoint-0) .jw-text-duration:before, .jwplayer:not(.jw-breakpoint--1) .jw-text-duration:before{
  padding-left: 0 !important;
  font-weight: bold;
}

